.main-header {
  background: $black;
  color: $white;
  position: sticky;
  top: 0px;
  z-index: 3;

  nav {
    width: 90%;
    min-height: 10vh;
    margin: auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;

    ul {
      display: flex;
      flex: 1 1 40rem;
      justify-content: space-around;
      align-items: center;
      list-style: none;
    }

    #logo {
      flex: 2 1 40rem;
      font-family: "Pattaya", sans-serif;
      font-weight: 400;
    }
  }
}
