.main-header {
  background: $black;
  color: $white;

  nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;

    ul {
      display: flex;
      flex: 1 1 40rem;
      justify-content: space-around;
      align-items: center;
      list-style: none;
    }

    #logo {
      flex: 2 1 40rem;
      font-family: "Pattaya", sans-serif;
      font-weight: 400;
    }
  }
}
